body {
    font-size: 0;
    font-family: 'Oswald', sans-serif;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
section h2::after {
  content: '';
  display: block;
  width: 45px;
  margin: 0 auto;
  padding-top: 10px;
}
h6 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}
p {
  font-size: 9px;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}
nav {
    background-color: #202020;
    color: #fefefe;
    padding: 34px 0px 34px 70px;
    box-sizing: border-box;
    position: relative;
}
nav .leftSide {
    float: left;
    line-height: 33px;
}
nav .leftSide span {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
nav .rightSide {
    float: right;
    line-height: 33px;
}
nav .leftSide span,
nav .rightSide li {
    display: inline-block;
    vertical-align: middle;
}
nav .rightSide li {
    font-size: 10px;
    cursor: pointer;
    padding: 0 14px;
    box-sizing: border-box;
    text-transform: uppercase;
}
nav .rightSide li:not(:last-of-type){
    margin-right: 24px;
}
nav .rightSide li:last-of-type {
    margin-right: 56px;
}
nav .rightSide li:not(.selected):hover {
    background-color: #e25050;
}
nav .rightSide li.selected {
  background-color: #e25050;
}
nav  .rightSide .sandwich {
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    display: none;
}
nav  .rightSide .sandwich:hover {
  font-size: 20px;
}
nav ul.phoneNumber {
    position: absolute;
    top: 101px;
    right: 70px;
    line-height: 37px;
    z-index: 2;
}
nav ul.phoneNumber li,
nav ul.phoneNumber img{
    display: inline-block;
    vertical-align: middle;
}
nav .phoneNumber .icon {
    background-color: #bd4141;
    padding: 0 12px 0 11px;
    box-sizing: border-box;
}
nav .phoneNumber .number {
    background-color: #e25050;
    font-size: 13px;
    padding: 0 27px;
    box-sizing: border-box;
}
section.slider {
    position: relative;
}
section.slider .mySlides {
    display: none
}
section.slider .slider-image1,
section.slider .slider-image2 {
    width: 100%;
    height: 580px;
    position: relative;
    background-size: cover;
}
section.slider .slider-image1 {
    background: url(../img/sliderImages/slide1.png) top no-repeat ;
}
section.slider .slider-image2 {
    background: url(../img/sliderImages/slide2.png) top no-repeat ;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
section.slider h6 {
    text-align: center;
    line-height: 33px;
    position: absolute;
    top: 216px;
    left: 70px;
    z-index: 1;
    font-size: 11px;
    color: #fefefe;
    background-color: #d34f4f;
    box-sizing: border-box;
    padding: 0 12px;
    text-transform: uppercase;
}
section.slider h1 {
    text-align: center;
    line-height: 66px;
    position: absolute;
    top: 252px;
    left: 70px;
    z-index: 1;
    font-size: 28px;
    color: #fefefe;
    background-color: #232322;
    padding: 0 22px;
    text-transform: uppercase;
    font-weight: bold;
}
section.slider h4 {
    text-align: center;
    line-height: 45px;
    position: absolute;
    top: 320px;
    left: 70px;
    z-index: 1;
    font-size: 16px;
    color: #fefefe;
    background-color: #232322;
    box-sizing: border-box;
    padding: 0 24px;
    text-transform: uppercase;
}
section.slider .slider-left,
section.slider .slider-right {
    position: absolute;
    top: 271px;
    cursor: pointer;
}
section.slider .slider-left {
    left: 10px;
}
section.slider .slider-right {
    right: 10px;
}
section.slider .slider-left img,
section.slider .slider-right img {
    width:40px;
}
section.features {
    position: relative;
    background-color: #ffffff;
    padding: 60px 10px 70px;
}
section.features h1 {
    text-align: center;
    font-size: 27px;
    color: #202020;
    text-transform: uppercase;
    font-weight: bold;
}
section.features h1 span {
    color: #e25050;
}
section.features h5 {
    text-align: center;
    color: #a2a2a2;
    font-size: 12px;
    margin: 17px 0 50px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}
section .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
section.features .wrapper .box {
    flex: 0 0 262px;
}
section.features h6 {
    color: #202020;
}
section.features img {
    margin-right: 15px;
}
section.features p {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    color: #a2a2a2;
    text-align: justify;
    margin-top: 17px;
    line-height: 2;
}
section.ourTeam {
    position: relative;
    background: url(../img/avatar.png) top no-repeat;
    background-color: #202020;
    padding: 60px 0;
}
section.ourTeam h2 {
    color: #fefefe;
}
section.ourTeam h2::after {
    border-bottom: 1px solid #fefefe;
}
section.ourTeam .box {
  flex: 0 0 270px;
  margin-top: 60px;
  cursor: pointer;
  position: relative;
}
section.ourTeam .box img {
  height: auto;
  width: 100%;
}
section.ourTeam .trainerInfo {
  background-color: #fff;
  padding: 24px 20px 22px;
  box-sizing: border-box;;
  width: 100%;
}
section.ourTeam .box .trainer {
  color: #c4c4c4;
  margin-top: 7px;
}
section.ourTeam .aboutTrainer {
  display:none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 35px 50px 35px 20px;
  box-sizing: border-box;
  height: 315px;
}
section.ourTeam .aboutTrainer p {
  color: #777;
  margin-top: 23px;
}
section.gallery {
  background-color: #fff;
  padding: 60px 10px 30px 10px;
}
section.gallery h2 {
  color: #202020;
}
section.gallery h2::after {
    border-bottom: 1px solid #202020;
}
section.gallery p {
  margin: 26px 20%;
  color: #777;
  text-align: center;
}
section.gallery .wrapper img {
  height: 180px;
  width: 270px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s;
}
section.gallery .wrapper img:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
section.pricing {
  background-color: #e25050;
  padding: 60px 10px;
}
section.pricing h2 {
    color: #fff;
}
section.pricing h2::after {
    border-bottom: 1px solid #ffffff;
}
section.pricing .priceItem {
  width: 370px;
  background-color: #d14343;
  padding: 27px 17px 27px 31px;
  box-sizing: border-box;
  margin-top: 60px;
}
section.pricing .priceItem h4,
section.pricing .priceItem h3 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: bold;
}
section.pricing .priceItem h4 {
  font-size: 16px;
}
section.pricing .priceItem h3 {
  font-size: 34px;
}
section.pricing .price,
section.pricing ul {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
section.pricing .price {
  text-align: center;
  padding-right: 30px;
  border-right: 1px solid #e25050;
}
section.pricing ul {
   list-style-image: url('tick.png');
   padding-left: 47px;
}
section.pricing li {
  font-size: 9px;
  color: #fff;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}
section.pricing .priceItem:nth-of-type(2) {
  background-color: inherit;
  border: 2px solid #fff;
}
section.pricing .priceItem:nth-of-type(2) .price {
  border-right: 1px solid #fff;
}
section.partners {
  background-color: #fff;
  padding: 60px 10px 68px 10px;
  box-sizing: border-box;;
}
section.partners h2 {
  color: #202020;
}
section.partners h2::after {
  border-bottom: 1px solid #202020;
}
section.partners .slider {
  margin-top: 60px;
  width: 100%;
  height: 51px;
  background-image: url('../img/partners.png');
  animation: carousel 10s infinite linear;
  -webkit-animation: carousel 10s infinite linear;
}
@keyframes carousel {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -1211px 0px;
    }
}
@-webkit-keyframes carousel {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -1211px 0px;
    }
}
footer {
  background-color: #202020;
  background-image: url('../img/world-map.png');
  padding: 0px 50px 40px 50px;
}
footer .socialNetworks {
  padding-bottom: 31px;
  border-bottom: 1px solid #323232;
  display: flex;
  flex-wrap: wrap-reverse;
}
footer .tweets {
  flex: 1;
  padding-top: 35px;
  box-sizing: border-box;
}
footer .icons {
  flex: 0 0 180px;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  padding-top: 35px;
  box-sizing: border-box;
}
footer .tweets i {
  color: #fff;
  font-size: 20px;
  margin-right: 16px;
}
footer .tweets p {
  color: #fff;
  display: inline;
  width: 526px;
}
footer .tweets p span {
  color: #717171;
  margin-left: 8px;
}
footer .icons i {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
footer .contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .contact h6 {
  color: #fff;
  margin-bottom: 30px;
}
footer .contact p {
  font-size: 10px;
  color: #9a9a9a;
  width: 347px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}
footer .contactInfo {
  flex: 0 0 348px;
  margin-right: 40px;
  margin-top: 63px;
}
footer .contactInfo .phoneNumber,
footer .contactInfo .email {
  font-size: 10px;
  color: #9a9a9a;
  font-family: 'Open Sans', sans-serif;
}
footer .contactInfo .phoneNumber {
  margin-bottom: 12px;
  margin-top: 31px;
}
footer .contactInfo i {
  color: #fff;
  margin-right: 10px;
}
footer .contactForm {
  flex: 0 0 670px;
  margin-top: 63px;
}
footer .contactForm input,
footer .contactForm textarea,
footer .contactForm .button {
  display: inline-block;
  color: #9a9a9a;
  background-color: inherit;
  border: 1px solid #9a9a9a;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
footer .contactForm input:first-of-type {
  margin-left: 0px;
}
footer .contactForm input,
footer .contactForm .button {
  width: 212px;
  height: 36px;
  margin-left: 17px;
}
footer .contactForm textarea {
  width: 441px;
  height: 111px;
  padding: 12px;
}
footer .contactForm input {
  padding: 12px;
}
footer .contactForm .button {
  vertical-align: top;
  font-size: 13px;
  background-color: #e25050;
  color: #fff;
  padding: 12px 21px 11px 22px;
  border: none;
  cursor: pointer;
}
footer .contactForm .button i {
  float: right;
}
footer .contactForm textarea,
footer .contactForm .button {
  margin-top: 16px;
}
footer .contactForm .button::after {
  content: "Make sure you put a valid email.";
  display: block;
  font-size: 9px;
  color: #9a9a9a;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  margin-left: -21px;
}
footer .copyright {
  margin-top: 102px;
}
footer .copyright .rights {
  font-size: 9px;
  color: #9a9a9a;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}
footer .copyright .back {
  font-size: 9px;
  color: #813838;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}
footer .copyright .back:hover {
  font-size: 12px;
  color: #b12424;
}
@media (max-width: 900px) {
  nav ul.phoneNumber {
    top: 101px;
    left: 70px;
  }
  nav .rightSide li {
    display: none;
  }
  nav .rightSide .sandwich {
    display: inline-block;
    margin-right: 56px;
  }
  nav .rightSide.responsive {
    position: relative;
  }
  nav .rightSide.responsive li{
    position: relative;
    top:33px;
    float: none;
    display: block;
    text-align: left;
  }
  nav .rightSide.responsive .sandwich {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 769px) {
  section.slider h1 {
    font-size: 18px;
  }
  footer .socialNetworks .icons {
    margin-left: 0;
  }
  footer .socialNetworks,
  footer .contact,
  footer .contactInfo,
  footer .contactForm,
  footer .contactForm input,
  footer .contactForm textarea,
  footer .contactForm .button {
    display: block;
    width: 100%;
  }
  footer .contactInfo p {
    display: inline;
  }
  footer .contactForm input,
  footer .contactForm textarea,
  footer .contactForm .button {
    margin-left: 0;
  }
  footer .contactForm input {
    margin-top: 16px;
  }
}
